@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 253, 253, 247;
  --background-start-rgb: 253, 253, 247;
  --background-end-rgb: 253, 253, 247;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 253, 253, 247;
    --background-start-rgb: 253, 253, 247;
    --background-end-rgb: 253, 253, 247;
  }
}
